torch>=2.2.0
torchaudio>=2.2.0
accelerate>=0.30.0
datasets>=2.18.0
bitsandbytes>=0.43.0
wandb
gcsfs
hf_transfer
huggingface_hub
sentence-transformers
scipy
numpy
soundfile
librosa
tqdm
pyyaml
python-dotenv
matplotlib
